<div class="hola-card hola-card-with-image">
  <img src="/static/public_platform/widget.png" alt="Wechat MP" class="hola-image">
  <p>扫描左侧二维码，关注微信公众号；</p>
  <p>扫描右侧二维码，支持 ¡Hola! 青少年活动。</p>
  <p><a href="/public_platform/">其他公众平台</a></p>
</div>
