<div class="widget-wrap">
  <div class="hola-card hola-card-with-image">
    <img src="/public_platform/wechat.jpg" alt="Wechat MP" class="hola-image">
    <h3 class="hola-card-title ihola-widget-title">公众平台</h3>
    <p>扫描上方二维码，关注我们的微信公众号</p>
    <p><a href="/public_platform/">其他公众平台</a></p>
  </div>
</div>
