<% if (site.posts.length){ %>
  <div class="widget-wrap">
    <div class="hola-card">
      <h2 class="hola-card-title"><%= __('recent_posts') %></h2>
      <ul>
        <% site.posts.sort('date', -1).limit(5).each(function(post){ %>
          <li>
            <a href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a>
          </li>
        <% }) %>
      </ul>
    </div>
  </div>
<% } %>