<% if (site.posts.length){ %>
  <div class="hola-card">
    <h2 class="hola-card-title ihola-widget-title"><%= __('recent_posts') %></h2>
    <ul class="hola-vmenu">
      <% site.posts.sort('date', -1).limit(5).each(function(post){ %>
        <li class="hola-vmenu-item">
          <a href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a>
        </li>
      <% }) %>
    </ul>
  </div>
<% } %>
