// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
color-default = #333
color-border = #ddd
color-link = #3498DB

// Fonts
font-sans = Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif
font-serif = Georgia, "Times New Roman", serif
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
font-icon = FontAwesome
font-icon-path = "fonts/fontawesome-webfont"
font-icon-version = "4.0.3"
font-size = 16px
line-height = 1.6em

// Header
logo-size = 40px
subtitle-size = 16px


sidebar = hexo-config("sidebar")

// Layout
article-padding = 20px
main-column = 9
