<footer class="hola-footer">
  <div class="hola-container hola-columns">
    <div class="hola-columns-item hola-columns-item-margined ihola-footer-block">
      <h4>活动</h4>
      <a href="/coming_soon.html">Conf</a>
      <a href="/coming_soon.html">Meetup</a>
      <a href="/coming_soon.html">Connect</a>
    </div>
    <div class="hola-columns-item hola-columns-item-margined ihola-footer-block">
      <h4>参与</h4>
      <a href="/public_platform/">Holateens 公众平台</a>
      <a href="http://teamhola.mikecrm.com/cXWWhWv">Holalife 纪念品商店</a>
      <!-- <a href="https://hola.party">Hola.Party</a> -->
    </div>
    <div class="hola-columns-item hola-columns-item-margined ihola-footer-block">
      <h4>与我们同行</h4>
      <a href="http://teamhola.mikecrm.com/ZFzeCBs">成为分享者</a>
      <a href="/team/recruit.html">加入 ¡Hola!</a>
      <a href="mailto:partners@ihola.one">与 ¡Hola! 合作</a>
    </div>
    <div class="hola-columns-item hola-columns-item-margined ihola-footer-block">
      <h4>¡Hola! x</h4>
      <a href="/2017/08/holaxluogu/">¡Hola! x Luogu</a>
      <!-- <a href="#">¡Hola! x YouthDelivery</a> -->
      <a href="/coming_soon.html">¡Hola! x 合作伙伴</a>
      <a href="/coming_soon.html">¡Hola! x 校园社团</a>
    </div>
    <div class="hola-columns-item hola-columns-item-margined ihola-footer-block">
      <h4>开放</h4>
      <a href="https://teamhola.github.io/holakit/">HolaKit 开源 CSS 库</a>
      <a href="https://github.com/teamhola">¡Hola! @ GitHub</a>
      <a href="/coming_soon.html">¡Hola! 特别纪念</a>
      <a href="https://design.ihola.one/">¡Hola! 设计</a>
    </div>
    <div class="hola-columns-item hola-columns-item-margined ihola-footer-block">
      <h4>关于</h4>
      <a href="/team/values.html">¡Hola! 价值观</a>
      <a href="/team/">成员墙</a>
      <a href="/faq/">常见问题</a>
    </div>
  </div>
  <div class="hola-container ihola-footer-right">
    &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
    本组织及其活动独立于任何第三方，包括但不限于学校、企业和有关机关部门。<br>
  </div>
</footer>
