<article class="hola-columns-item hola-columns-item-margined">
  <header class="archive-article-header">
    <h3 itemprop="name" class="archive-article-title"><%= member.name %></h3>
    <p class="ihola-job-line"><%= member.job %></p>
    <p class="ihola-member-desc"><%= member.description %></p>
  </header>
</article>
