.ihola-faq {
    text-align: justify;
    //margin: 4em 0;
}

.ihola-faq h4 {
    font-size: 1.2em;
}

.ihola-faq h4::before {
    content: "Q:";
    padding: 0 .3em;
    margin: 0 .3em 0 0;
    background-image: linear-gradient(131deg, #006FFF 2%, #1BE6FF 90%);
    color: #fff;
}
.ihola-faq blockquote {
    position: relative;
    padding-left: 2.3em;
    text-align: justify
    font-size: 1rem
    font-family: inherit
    margin: 0
}
.ihola-faq blockquote::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "A:";
    padding: 0 .3em;
    font-size: 1.2em;
    font-weight: bold;
    background-image: linear-gradient(131deg, #006FFF 2%, #1BE6FF 90%);
    color: #fff;
}
