.ihola-faq {
    text-align: justify;
    //margin: 4em 0;
}
.ihola-faq h4 {
  line-height: 2
}
.ihola-faq h4::before {
    content: "Q:";
    padding: 0 .3em;
    margin: 0 .3em 0 0;
    background: #3498db;
    color: #fff;
}
.ihola-faq blockquote {
    text-align: justify
    font-size: 1em;
    font-family: inherit
    margin: 0
}
.ihola-faq blockquote::before {
    top: 0;
    left: 0;
    content: "A:";
    padding: 0 .3em;
    font-weight: bold;
    background: #3498db;
    color: #fff;
}
.ihola-faq blockquote p {
  margin-top: .3em;
  margin-bottom: 1em;
}
