section.hola-faq {
    text-align: justify;
    //margin: 4em 0;
}

.hola-faq>h4 {
    font-size: 1.2em;
}

.hola-faq>h4::before {
    content: "Q:";
    padding: 0 .3em;
    margin: 0 .3em 0 0;
    background-image: linear-gradient(131deg, #006FFF 2%, #1BE6FF 90%);
    color: #fff;
}
.hola-faq>div {
    position: relative;
    padding-left: 2.3em;
}
.hola-faq>div::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "A:";
    padding: 0 .3em;
    font-size: 1.2em;
    font-weight: bold;
    background-image: linear-gradient(131deg, #006FFF 2%, #1BE6FF 90%);
    color: #fff;
}
