.hola-footer>.hola-columns
  columns: 3 10rem;

.hola-footer .ihola-footer-block h4
  display: block
  font-weight: bold
  margin-bottom: 1rem
  font-size: 1.125rem

.hola-footer .ihola-footer-block a
  display: block
  color: rgba(255, 255, 255, .8)
  text-decoration: none
  margin-bottom: .5rem;

.ihola-footer-right
  text-align: right;
