.hola-home
  margin: 3em 0;
  padding: 3em;
  text-align: center
  border-radius: 5px
  background-image: linear-gradient(-131deg, #006FFF 2%, #1BE6FF 90%)
.hola-home *
  font-family: font-sans
  color: #fff
.hola-home h3
  font-size: logo-size * .8
  font-weight: bold
  line-height: logo-size * 1.8
.hola-home .action-buttons a
  display: inline-block
  margin: 1em
  padding: .5em
  border-radius: 3px
  border: 2px solid #fff
  text-decoration: none
  transition: .3s ease all
  &:hover, &:active
    background: rgba(255,255,255, .2)