<div class="hola-container hola-layout-container hola-layout-container-sidebar-right">
  <section class="hola-layout-main hola-card-stack ihola-faq">
    <%- partial('_partial/article', {post: page, index: false, page: true}) %>
  </section>
  <section class="hola-layout-sidebar">
    <div class="hola-card">
      <h2 class="hola-card-title">常见问题</h2>

    </div>
  </section>
</div>
