<div class="hola-container hola-layout-container hola-layout-container-sidebar-right">
  <section class="hola-layout-main hola-card-stack ihola-faq">
    <%- partial('_partial/article', {post: page, index: false, page: true}) %>
  </section>
  <section class="hola-layout-sidebar">
    <div class="hola-card">
      <h2 class="hola-card-title">常见问题</h2>
      <ul class="hola-vmenu">
        <li class="hola-vmenu-item"><a href="/faq">常规问题</a></li>
        <li class="hola-vmenu-item"><a href="/faq/participating.html">参与 ¡Hola!</a></li>
        <li class="hola-vmenu-item"><a href="/faq/curiosity.html">好奇心</a></li>
        <!-- <li class="hola-vmenu-item"><a href="/faq/history.html">我们的历史</a></li> -->
        <li class="hola-vmenu-item"><a href="/faq/contact.html">联系我们</a></li>
      </ul>
    </div>
  </section>
</div>
