<div class="outer">
  <section id="main">
    <%- partial('_partial/home') %>
    <%- partial('_partial/archive', {pagination: 2, index: true}) %>
  </section>
  <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
    <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
  <% } %>
</div>
