<div class="hola-container hola-card-stack">
  <div class="hola-card" style="background-image: url(/static/banners/public_platform_bg.jpg)">
    <div class="hola-hero">
      <div class="hola-hero-content">
        <h1>Wish we could say more.</h1>
      </div>
    </div>
  </div>
  <h3 class="hola-card-stack-title hola-card-stack-title-dark">公众平台</h3>
  <div class="hola-layout-scrollable-hori">
    <div class="hola-card hola-card-with-image hola-card-tiny">
      <img src="/static/public_platform/wechat.jpg" alt="Wechat MP" class="hola-image">
      <h4 class="hola-card-title">Holateens</h4>
      <p>微信公众号</p>
    </div>
    <div class="hola-card hola-card-with-image hola-card-tiny">
      <img src="/static/public_platform/tg.png" alt="Telegram Channel" class="hola-image">
      <h4 class="hola-card-title">@Holateens</h4>
      <p><a href="https://t.me/holateens">Telegram Channel</a></p>
    </div>
    <div class="hola-card hola-card-with-image hola-card-tiny">
      <img src="/static/public_platform/qq.png" alt="QQ Group" class="hola-image">
      <h4 class="hola-card-title">¡Hola! 交流群</h4>
      <p><a href="//shang.qq.com/wpa/qunwpa?idkey=5822bf89557dbc179b7bc7846d18133fb24bb17f650caa8ed921d3edc4355b47">QQ 群</a></p>
    </div>
    <div class="hola-card hola-card-with-image hola-card-tiny">
      <img src="/static/public_platform/afdian.png" alt="Afdian.net Homepage" class="hola-image">
      <h4 class="hola-card-title">@ihola</h4>
      <p><a href="https://afdian.net/@ihola">爱发电主页</a></p>
    </div>
  </div>
</div>
