<div class="hola-container hola-layout-container hola-layout-container-sidebar-right">
  <section class="hola-layout-main hola-card-stack">
    <div class="hola-card">
      <h2 class="hola-card-title">¡Hola! 团队</h2>
      <div class="hola-columns hola-columns-ruled">
        <% site.data[page.data].forEach(function(member, i){ %>
            <%- partial('_partial/member-item', {member}) %>
        <% }) %>
        <% if (site.data[page.data].length){ %>
      </div>
      <br>
      <p style="text-align: center;">
        <a href="/team/recruit.html" class="hola-button hola-button-primary">现在加入我们</a>
      </p>
    </div>
  </section>
  <% } %>
  <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
    <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
  <% } %>
</div>
